<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>High Scores</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script type="text/javascript" src="nav.js"></script>
</head>
<body>
  <!--responsive navigation bar-->
  <nav>
  <div class="nav-wrapper indigo">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li><a href="index.html">Game</a></li>
      <li><a>High Scores</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="index.html">Game</a></li>
  <li><a>High Scores</a></li>
</ul>
  <!--container including the highscores from the Vue component-->
  <div class="container js-instance">
			<h1>Highscores</h1>
			<ul class="list" v-if="highscores.length">
				<li class="list__item"
							v-for="(item, index) in highscores">
              <div v-if="item.score" class="row">
    						<div class="col s12 m4">
    							{{item.i }}. {{ item.name }}
    						</div>
    						<div class="col s12 m7">
    							{{ item.score }}
    						</div>
    					</div>
					</li>
				</ul>
				<h2 v-if="!highscores.length">no highscores</h2>
		</div>
		<script type="text/javascript" src="./js/index.js"></script>
</body>
</html>
