<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>game</title>
  <script src="//cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script type="text/javascript" src="nav.js"></script>
</head>
<body>
<!--responsive navigation bar-->
  <nav>
  <div class="nav-wrapper indigo">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li><a>Game</a></li>
      <li><a href="hiscores.html">High Scores</a></li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a>Game</a></li>
  <li><a href="hiscores.html">High Scores</a></li>
</ul>
  <!--Phaser component-->
  <script type="text/javascript" src="game.js"></script>
  <!--authorization components-->
  <div class="container js-instance" style="position: absolute;bottom: 10px; bottom: 10px">
    <div class="container" style="width: 100%;height: 100%;max-width: 100%;margin: auto">
      <!--sign in component-->
      <form class="col s12" v-if="loginStatus == 1">
        <div class="row">
        <div class="input-field col s12 m6 center">
          <input type="text" v-model="username" id="username"/>
          <label for='password'>Enter your username</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12 m6 row">
          <input type="password" v-model="password" id="password"/>
          <label for='password'>Enter your password</label>
        </div>
        </div>
        <a class="col s4 btn btn-large waves-effect indigo"><i class="material-icons" v-on:click="login">Sign in</i></a>
        <p v-on:click="changeLoginStatus" id="myText" style="color:#0000FF; cursor: pointer">or sign up</p>
        <p v-if="loginError">{{loginError}}</p>
      </form>
      <!--sign up component-->
      <form class="col s12" v-if="loginStatus == 2">
        <div class="row">
        <div class="input-field col s12 m6">
          <input type="text" v-model="newUsername" class="form__field_newUsername" id="username"/>
          <label for='password'>Enter new username</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12 m3">
          <input type="password" v-model="newPassword" class="form__field_newPw" id="password"/>
          <label for='password'>Enter new password</label>
        </div>
        <div class="input-field col s12 m3">
          <input type="password" v-model="newPassword2" class="form__field_newPw2" id="password"/>
          <label for='password'>Repeat password</label>
        </div>
        </div>
        <a class="col s4 btn btn-large waves-effect indigo"><i class="material-icons" v-on:click="createAccount">Sign up</i></a>
        <p v-on:click="changeLoginStatus" id="myText" style="color:#0000FF; cursor: pointer">or sign in</p>
        <p v-if="pwsDontMatch">Passwords don't match.</p>
        <p v-if="showSuccesfulSignUp">Created a new account.</p>
      </form>
      <!--signed up component-->
      <div class="col s12" v-if="loginStatus == 3">
        <p>Logged in as {{loggedInUser}}</p>
        <a class="col s4 btn btn-large waves-effect indigo"><i class="material-icons" v-on:click="logout">Logout</i></a>
      </div>
    </div>
  </div>
    <script type="text/javascript" src="./js/index.js"></script>
</body>
</html>
